*
!/.dockerignore
!/.gitignore
!/Dockerfile
!/go.mod
!/go.sum
!/Makefile
!/tracing.bpf.c
!/tracing.go
!/pkg/
!/pkg/tracing_service/
!/pkg/tracing_service/*/
!/pkg/tracing_service/**/*.go
!/pkg/tracing_service/*.go
/pkg/tracing_service/packet_logging_bpf_*.go
